.Rproj.user
.Rhistory
.RData
.Ruserdata
SoilWeb-data.Rproj
OSD/parsed-data.csv.gz
OSD/parsed-site-data.csv.gz
OSD/fulltext-section-data.sql.gz
OSD/parsed-data-est-colors.csv.gz
*.zip
*.pdf
WCS/ssurgo-data.gpkg
OSD/fulltext-data.sql
OSD/fulltext-section-data.sql
